:root
{
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  padding: 0;
  margin: 0;
}

*, ::before, ::after
{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Monoton', cursive; */
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;

}

.nav-bar{
    width:100%;
    height:56px;
}

.nav-bar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative;
    height: 100%;
}

.links li a{
    color: #f5f5f5;
    text-decoration: none;
}

.links .logo{
    height: 100px;
    width: 100px;
    background: #000;
    position: absolute;
    top: 5px;
    padding: 0 5px 5px;
    -webkit-clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0%50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0%50%);
}

.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.background{
    height: 1000px;
    text-align: center;
    background:  url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: flex;
  }

.main-content {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
.main-text{
    font-family: 'Monoton', cursive;
    margin: 0px;
    font-size: 8em;
    font-weight: 200;
    line-height: 2em;
  }

.main-content a{
    color: #f5f5f5;
    text-decoration: none;
}

.grid-container-col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    background: #f5f5f5;
    padding: 0.30rem;
}

.grid-container-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    background: #f5f5f5;
    padding: 0.30rem;
    height: 800px;
    background-image: url(../assets/img/contacus.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.gap-1{
    grid-gap: 0.20rem;

}
  
.grid-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header{
    width:100%;

    height: 12rem;;
}

.card-body{
    width:100%;
    padding: 15px 7px;
    color: #000000; 
    text-align: left;
}

.card-footer{
    width:100%;
    padding: 15px;

}

.btn-yellow{
    background: orange;
    color: #f5f5f5;
    text-align:center;
    border: none;
    border-radius: 3px;
    width: 90%;
    padding:10px 5px;
    font-size: 1rem;
}

.p-0{
    margin: 0;
    width: 100%
}

.card-title{
    color: #612e1d;
    text-align: left;
    font-size: 1rem;
}

.contacus-title{
    color: #f5f5f5;
    text-align: left;
    font-size: 1rem;
    padding-bottom: 15px;
}

.contacus{
    background: rgba(109, 104, 104, 0.801);
    border-radius: 15px;
    height: 100%;
    padding: 2rem;
    margin: 2rem;
}

.left{
    text-align: left;
    font-size: 0.7rem;
}

.flecha{
    padding-top: 25px;
    font-size: 2rem;
}

.formulario{
    padding: 1rem;
    margin: 1rem;
    align-items: left;
    text-align: left;
}
.foot{
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    text-align: left;
    align-content: center;
    background: #000000;
    color: #f5f5f5; 
}

label{
    text-align: left;
    justify-content: left;
}

.text-white{
    color: #f5f5f5;
    font-size: 1rem;
}

.common-input {
    border: 1px solid rgba(245, 245, 245, 0.335);
    border-radius: 15px;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    padding: 0 25px;
    color: #000000;
    margin-bottom: 15px; 
  }
  
  .common-textarea {
    border: 1px solid rgba(245, 245, 245, 0.335);
    border-radius: 15px;
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    padding: 15px 25px;
    color: #000000;
    height: 150px;
    margin-bottom: 15px; 
  }
  

.foot ul{
    list-style: none;
    padding-left: 15px;

}

.foot li a{
    color: #f5f5f5;
    text-decoration: none;
}

.redes{
    width: 50%;
    padding-left: 2rem; 
}

.nav{
    width: 50%;
}

@media (max-width: 767px) {
    .main-text{
      font-size: 5em;
    }
    .grid-container-col-3{
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .grid-container-col-2{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
}

@media(max-width: 400px){
    .redes{
        width: 100%;
    }
    
    .nav{
        width: 100%;
    }
  }

.extra{
    color:   ##f5f5f5
    #000000
    #fff
    orange
    blue
    #dbdada
    #612e1d
    #13131342
    #440d5a
    #fef6f4
    rgba(245, 245, 245, 0.335)
    rgba(109, 104, 104, 0.801)
}